.vSpacer {
 height:50px;
}

.background1 {
    background-image: url('../images/trade.png');
	background-repeat: no-repeat;
    background-size: cover;
	background-attachment: fixed;
	height: 100vh;
	
}

.white {
	color: white;
}

.panel-body {
	color: black;
}
